
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">

    <script type="text/javascript" src="{{ url_for('static', filename='jquery-3.5.1/jquery-3.5.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='jquery-3.5.1/popper.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='daterangepicker-master/moment.min.js') }}"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='daterangepicker-master/daterangepicker.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='daterangepicker-master/daterangepicker.css') }}">

    <!-- DataTable --> 
    <script type="text/javascript" src="{{ url_for('static', filename='datatable-1.10.22/datatables.min.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='datatable-1.10.22/datatables.min.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='datatable-1.10.22/dataTables.buttons.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='datatable-1.10.22/buttons.html5.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='datatable-1.10.22/jszip.min.js') }}"></script>
    <!-- DataTable Button EXCEL -->    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='datatable-1.10.22/buttons.dataTables.min.css') }}"> 

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap-4.3.1/css/bootstrap.min.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='bootstrap-4.3.1/js/bootstrap.min.js') }}"></script>
    

    <!-- JS PDF  -->
    <script type="text/javascript" src="{{ url_for('static', filename='jspdf-2.1.1/jspdf.debug.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='jspdf-2.1.1/jspdf.umd.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='jspdf-2.1.1/jspdf.plugin.autotable.min.js') }}"></script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fontawesome/css/all.css') }}">    

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='senai-1.0.0/css/base.css') }}"> 
    <!-- <script type="text/javascript" src="{{ url_for('static', filename='senai-1.0.0/js/base.js') }}"></script> -->
    
    <script type="text/javascript" src="{{ url_for('static', filename='chartjs-2.9.3/js/Chart.bundle.js') }}"></script>
    
    <link rel="icon" href="../static/senai-1.0.0/images/icon.png" type="image/x-icon">

    <!-- Select2 -->
    <script type="text/javascript" src="{{ url_for('static', filename='select2-4.1.0/dist/js/select2.min.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='select2-4.1.0/dist/css/select2.min.css') }}">

    <title>Sistema de Produção</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="{{ url_for('inicio') }}"><img class="d-inline-block align-top" height="40" src="{{ url_for('static', filename='senai-1.0.0/images/logo.png') }}" ></a>
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav1" aria-controls="nav1" aria-expanded="false" aria-label="Navegação">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="nav1">
        </div>
    </nav>

    <!-- Modals -->

    <script> 
        

    
    </script>

    {% block content %}{% endblock %}


</body>
</html>