{% extends "base.html" %}

{% block content %}


<div class="container-fluid h-100" >

    <div class="row justify-content-center text-dark">
        <div class="col-12 col-lg-4"></div>
        <div class="col-12 col-lg-4 d-flex align-items-center justify-content-lg-center justify-content-center mt-2"><h4>Selecione o Processo</h4></div>
        <div class="col-6 col-lg-4 d-flex align-items-center justify-content-end"></div>
    </div>

    <div class="row justify-content-center text-black">
        <!-- Máquina 16 - 200 T pl2000 -->
        <div class="col-12 col-lg-3 px-1 py-1 mt-2">
            <div class="card text-black o-hidden h-100 bg-light border-primary">
                <img class="card-img-top" src="{{ url_for('static', filename='senai-1.0.0/images/haitian.png') }}" height="250rem">
                <h4 class="card-title text-center mt-3"></h4>
                <div class="card-body">
                    <div class="row">
                        
                    </div>
                </div>
            </div>
        </div>
        <!-- Máquina 17 - 160 T sa1600 -->
        <div class="col-12 col-lg-3 px-1 py-1 mt-2">
            <div class="card text-black o-hidden h-100 bg-light border-primary">
                <img class="card-img-top" src="{{ url_for('static', filename='senai-1.0.0/images/haitian.png') }}" height="250rem">
                <h4 class="card-title text-center mt-3"></h4>
                <div class="card-body">
                    <div class="row">

                    </div>
                </div>
            </div>
        </div> 
        <!-- Máquina 18 - 200 T pl2000 -->
        <div class="col-12 col-lg-3 px-1 py-1 mt-2">
            <div class="card text-black o-hidden h-100 bg-light border-primary">
                <img class="card-img-top" src="{{ url_for('static', filename='senai-1.0.0/images/haitian.png') }}" height="250rem">
                <h4 class="card-title text-center mt-3"></h4>
                <div class="card-body">
                    <div class="row">
                    </div>                   
                </div>
            </div>
        </div>
        <!-- Máquina 32 - 200 T pl2000 -->
        <div class="col-12 col-lg-3 px-1 py-1 mt-2">
            <div class="card text-black o-hidden h-100 bg-light border-primary">
                <img class="card-img-top" src="{{ url_for('static', filename='senai-1.0.0/images/haitian.png') }}" height="250rem">
                <h4 class="card-title text-center mt-3"></h4>
                <div class="card-body">
                                     
                </div>
            </div>
        </div>


    </div>
</div>

<script>


    jQuery(document).ready(function () {
          jQuery(document)
          .ajaxStart(function () {
                jQuery("#overlay").fadeIn(300);
          })
          .ajaxStop(function () {
                jQuery("#overlay").fadeOut(300);
          });
     });

    


</script>



{% endblock %}